#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

body {
    position: relative;
    margin: 0;
    background-color: #EDEDED;
    min-height: -webkit-fill-available;
    -webkit-font-smoothing: antialiased; /*抗锯齿*/
    /*font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Menlo, Monaco, 'Courier New', monospace !important;*/
    font-family:ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

* img{
    max-width: 100%;
}

.blog-header {
    width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
    /* background-color: #24292e; */
    line-height: 1.5;
    /*background-image: url('/static/img/header.jpg');*/
    /*height: 406px;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    font-weight: bolder;
    background-color: #333333;
    color: #ffffff;
    padding: 36px 5.5556% 5.25rem;
}

.blog-header-title{
    color: #ffffff;
    margin-bottom: 2.25em;
}

.blog-header-title span{
    font-weight: 100;
}

.blog-header-navbar{
    /*padding: 8px 16px !important;*/
    padding: 20px 0 !important;
    font-size: 0.875rem;
    font-weight: 300;
}

.blog-header-navbar .nav-item{
    margin-right: 15px;
}

.blog-header-navbar .navbar-nav .nav-link{
    color: #fff !important;
    padding: 3px 10px !important;
}
.blog-header-navbar .navbar-nav .nav-link:hover{
    color: #333 !important;
    background-color: #ffffff;
}

.blog-header-navbar .navbar-nav li.active{
    color: #333 !important;
    background-color: #ffffff;
}

.blog-header-menu{
    max-width: 1140px;
    margin: auto;
    color: #000;
    font-weight: 600;
    white-space: nowrap;
}

.blog-header-menu ul{
    margin: 0;
    padding: 0;
}

.blog-header-menu ul li{
    list-style: none;
}

.blog-header-menu span{
    margin-right: 25px;
    font-size: 18px;
}
.blog-header-menu nav a{
    text-decoration: none;
    padding: 0 20px;
    color: #000;
}

.blog-header-menu nav a:hover{
    color: #999;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none !important;
}

.blog-footer{
    background-color: #24292e;
    padding: 32px 15px;
    color: #ccc;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.blog-footer p{
    margin: 0;
    font-size: 14px;
}
.blog-footer-icon{
    color: #ccc;
}

.blog-footer p a{
    margin: 0 5px;
    line-height: 22px;
    font-size: 20px;
}

.hljs{
    padding: 1.25em 1.5em !important;
    border-radius: 6px;
}

.content-container{
    padding-bottom: 156px;
    margin-top: -76px;
}

.blog-slider{

}

.blog-slider-block{
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.blog-info{
    display: flex;
    height: 50px;
    align-items: flex-end;
}

.blog-info img{
    border-radius: 50%;
    height: 50px;
}

.blog-info h5{
    margin: 0 0 0 10px;
    font-weight: 300;
}

.blog-slider-block p{
    font-size: 0.875rem;
    font-weight: 200;
    margin: 15px 0 0 0;
}

.blog-slider-block h5{

}

.blog-slider-block li{
    font-size: 0.875rem;
}

.blog-slider-block li a{
    color: #333;
}

.blog-slider-block li a:hover{
    text-decoration: #333 !important;
}