<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% .title%}</title>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.14.0/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <script src="/static/js/fly.min.js"></script>
    <script src="/static/util/fly.js"></script>
    <!-- <script type="module" src="/static/js/main.js" defer></script> -->

    <script src="https://unpkg.com/bootstrap-vue@2.14.0/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <!-- <script src="https://unpkg.com/bootstrap-vue@2.14.0/dist/bootstrap-vue-icons.min.js"></script> -->

    <!-- highlight.js -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/list.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/marked.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/img-index.css"/>
</head>
<body>
<div id="vue">
{% yield %}
</div>
</body>
</html>